<%= link_to 'Back', admin_blog_index_path, class: 'btn btn-secondary btn-sm max-w-12' %>
<%= form_with do |form|%>
  <p>
    <b>Blog Title</b><br>
    <%= form.text_field :title, class: "input input-bordered w-full max-w-xs mt-2" %>
  </p>
  <p>
    <b>Blog Content</b><br>
    <%= form.text_area :content,class: "textarea textarea-bordered mt-2" %>
  </p>
    <p>
  <b>Blog tags</b><br>
    <%= form.text_field :tags, class: "input input-bordered w-full max-w-xs mt-2" %>
  </p>
  <p>
  <%= form.submit class: "btn btn-primary mt-2" %>
  </p>
<% end %>
</div>

