<!DOCTYPE html>
<html data-theme="night">
  <head>
    <title>AnhrailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-8 px-5 flex flex-col">
      <div class="text-color-green font-bold text-center"><%= notice if notice %></div>
      <div class="text-color-red font-bold text-center pb-5"><%= alert if alert %></div>
      <%= yield %>
    </main>
  </body>
</html>
